In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../data/Rodent_Inspection.csv')

In [3]:
df = df[df['INSPECTION_DATE'].notna()]

In [4]:
df = df.reset_index(drop=True)

In [5]:
date = []

for i in range(len(df['INSPECTION_DATE'])):
    date.append(df['INSPECTION_DATE'][i][0:10])

df['date'] = date

In [6]:
year = []

for i in range(len(df['date'])):
    year.append(df['date'][i][6:10])

df['year'] = year

In [7]:
df['year'] = pd.to_numeric(df['year'])

In [8]:
df = df[df['year'] >= 2020]

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,date,year
0,Initial,13407377.0,PC7882384,1.0,3.019260e+09,3.0,1926.0,10.0,NaN,NaN,11205.0,NaN,NaN,NaN,NaN,Brooklyn,06/09/2022 01:54:54 PM,Passed,06/13/2022 11:08:40 AM,NaN,06/09/2022,2022
1,BAIT,2847306.0,PC7835547,5.0,3.050780e+09,3.0,5078.0,49.0,39,EAST 17 STREET,11226.0,994197.0,176094.0,40.650001,-73.964154,Brooklyn,06/08/2022 12:54:00 PM,Bait applied,NaN,"(40.650001497171, -73.964153538748)",06/08/2022,2022
2,Initial,13447765.0,PC7918991,1.0,2.025720e+09,2.0,2572.0,6.0,346,POWERS AVENUE,10454.0,NaN,NaN,40.807937,-73.912159,Bronx,08/08/2022 08:00:00 AM,Failed for Other R,08/10/2022 11:54:10 AM,"(40.807937468678, -73.912158955256)",08/08/2022,2022
3,Initial,13448313.0,PC7918983,1.0,3.033520e+09,3.0,3352.0,53.0,241,WOODBINE STREET,11221.0,NaN,NaN,40.695072,-73.914252,Brooklyn,08/09/2022 03:30:22 PM,Passed,08/10/2022 08:48:08 AM,"(40.695071716322, -73.914251967754)",08/09/2022,2022
4,Initial,13446982.0,PC7917986,1.0,3.031650e+09,3.0,3165.0,48.0,235,JEFFERSON STREET,11237.0,NaN,NaN,40.702698,-73.927850,Brooklyn,08/05/2022 10:09:54 AM,Rat Activity,08/10/2022 09:21:06 AM,"(40.702697824598, -73.927849848928)",08/05/2022,2022

In [13]:
df.to_csv('..\output\processed_data.csv')