In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('../data/Rodent_Inspection.csv')
df

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION
0,Initial,13407377.0,PC7882384,1.0,3.019260e+09,3.0,1926.0,10.0,NaN,NaN,11205.0,NaN,NaN,NaN,NaN,Brooklyn,06/09/2022 01:54:54 PM,Passed,06/13/2022 11:08:40 AM,NaN
1,BAIT,2847306.0,PC7835547,5.0,3.050780e+09,3.0,5078.0,49.0,39,EAST 17 STREET,11226.0,994197.0,176094.0,40.650001,-73.964154,Brooklyn,06/08/2022 12:54:00 PM,Bait applied,NaN,"(40.650001497171, -73.964153538748)"
2,Initial,13447765.0,PC7918991,1.0,2.025720e+09,2.0,2572.0,6.0,346,POWERS AVENUE,10454.0,NaN,NaN,40.807937,-73.912159,Bronx,08/08/2022 08:00:00 AM,Failed for Other R,08/10/2022 11:54:10 AM,"(40.807937468678, -73.912158955256)"
3,Initial,13448313.0,PC7918983,1.0,3.033520e+09,3.0,3352.0,53.0,241,WOODBINE STREET,11221.0,NaN,NaN,40.695072,-73.914252,Brooklyn,08/09/2022 03:30:22 PM,Passed,08/10/2022 08:48:08 AM,"(40.695071716322, -73.914251967754)"
4,Initial,13446982.0,PC7917986,1.0,3.031650e+09,3.0,3165.0,48.0,235,JEFFERSON STREET,11237.0,NaN,NaN,40.702698,-73.927850,Brooklyn,08/05/2022 10:09:54 AM,Rat Activity,08/10/2022 09:21:06 AM,"(40.702697824598, -73.927849848928)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456196,BAIT,2742030.0,PC7298974,5.0,3.031718e+09,3.0,3171.0,7501.0,76,JEFFERSON STREET,11206.0,1002982.0,193939.0,40.698968,-73.932445,Brooklyn,05/23/2019 09:55:23 AM,Bait applied,05/24/2019 03:17:47 PM{,NaN
1456197,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456198,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456199,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456200,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[df['INSPECTION_DATE'].notna()]

In [4]:
df = df.reset_index(drop=True)

In [5]:
date = []

for i in range(len(df['INSPECTION_DATE'])):
    date.append(df['INSPECTION_DATE'][i][0:10])

df['date'] = date

In [6]:
year = []

for i in range(len(df['date'])):
    year.append(df['date'][i][6:10])

df['year'] = year

In [7]:
df['year'] = pd.to_numeric(df['year'])

In [8]:
df = df[df['year'] >= 2018]

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,date,year
0,Initial,13407377.0,PC7882384,1.0,3.019260e+09,3.0,1926.0,10.0,NaN,NaN,11205.0,NaN,NaN,NaN,NaN,Brooklyn,06/09/2022 01:54:54 PM,Passed,06/13/2022 11:08:40 AM,NaN,06/09/2022,2022
1,BAIT,2847306.0,PC7835547,5.0,3.050780e+09,3.0,5078.0,49.0,39,EAST 17 STREET,11226.0,994197.0,176094.0,40.650001,-73.964154,Brooklyn,06/08/2022 12:54:00 PM,Bait applied,NaN,"(40.650001497171, -73.964153538748)",06/08/2022,2022
2,Initial,13447765.0,PC7918991,1.0,2.025720e+09,2.0,2572.0,6.0,346,POWERS AVENUE,10454.0,NaN,NaN,40.807937,-73.912159,Bronx,08/08/2022 08:00:00 AM,Failed for Other R,08/10/2022 11:54:10 AM,"(40.807937468678, -73.912158955256)",08/08/2022,2022
3,Initial,13448313.0,PC7918983,1.0,3.033520e+09,3.0,3352.0,53.0,241,WOODBINE STREET,11221.0,NaN,NaN,40.695072,-73.914252,Brooklyn,08/09/2022 03:30:22 PM,Passed,08/10/2022 08:48:08 AM,"(40.695071716322, -73.914251967754)",08/09/2022,2022
4,Initial,13446982.0,PC7917986,1.0,3.031650e+09,3.0,3165.0,48.0,235,JEFFERSON STREET,11237.0,NaN,NaN,40.702698,-73.927850,Brooklyn,08/05/2022 10:09:54 AM,Rat Activity,08/10/2022 09:21:06 AM,"(40.702697824598, -73.927849848928)",08/05/2022,2022

In [13]:
df.to_csv('..\output\processed_data.csv')

In [9]:
df = pd.read_csv('../output/processed_data.csv')
df = df.drop(columns=['Unnamed: 0'])
df.head(3)

,INSPECTION_TYPE,JOB_TICKET_OR_WORK_ORDER_ID,JOB_ID,JOB_PROGRESS,BBL,BORO_CODE,BLOCK,LOT,HOUSE_NUMBER,STREET_NAME,ZIP_CODE,X_COORD,Y_COORD,LATITUDE,LONGITUDE,BOROUGH,INSPECTION_DATE,RESULT,APPROVED_DATE,LOCATION,date,year
0,Initial,13407377.0,PC7882384,1.0,3.019260e+09,3.0,1926.0,10.0,NaN,NaN,11205.0,NaN,NaN,NaN,NaN,Brooklyn,06/09/2022 01:54:54 PM,Passed,06/13/2022 11:08:40 AM,NaN,06/09/2022,2022
1,BAIT,2847306.0,PC7835547,5.0,3.050780e+09,3.0,5078.0,49.0,39,EAST 17 STREET,11226.0,994197.0,176094.0,40.650001,-73.964154,Brooklyn,06/08/2022 12:54:00 PM,Bait applied,NaN,"(40.650001497171, -73.964153538748)",06/08/2022,2022
2,Initial,13447765.0,PC7918991,1.0,2.025720e+09,2.0,2572.0,6.0,346,POWERS AVENUE,10454.0,NaN,NaN,40.807937,-73.912159,Bronx,08/08/2022 08:00:00 AM,Failed for Other R,08/10/2022 11:54:10 AM,"(40.807937468678, -73.912158955256)",08/08/2022,2022

In [10]:
lst = ['INSPECTION_TYPE', 'JOB_PROGRESS', 'ZIP_CODE', 'LATITUDE', 'LONGITUDE', 'BOROUGH', 'date', 'year' ]
df = df[lst]
df

,INSPECTION_TYPE,JOB_PROGRESS,ZIP_CODE,LATITUDE,LONGITUDE,BOROUGH,date,year
0,Initial,1.0,11205.0,NaN,NaN,Brooklyn,06/09/2022,2022
1,BAIT,5.0,11226.0,40.650001,-73.964154,Brooklyn,06/08/2022,2022
2,Initial,1.0,10454.0,40.807937,-73.912159,Bronx,08/08/2022,2022
3,Initial,1.0,11221.0,40.695072,-73.914252,Brooklyn,08/09/2022,2022
4,Initial,1.0,11237.0,40.702698,-73.927850,Brooklyn,08/05/2022,2022
...,...,...,...,...,...,...,...,...
250751,Compliance,2.0,11206.0,40.695181,-73.950801,Brooklyn,09/21/2020,2020
250752,Initial,1.0,10468.0,NaN,NaN,Bronx,02/05/2020,2020
250753,Compliance,2.0,11216.0,40.681488,-73.945954,Brooklyn,11/12/2020,2020
250754,Initial,1.0,11385.0,40.698909,-73.906897,Queens,09/09/2021,2021
250755,BAIT,3.0,10075.0,40.773809,-73.954721,Manhattan,08/26/2020,2020

In [12]:
lst2 = ['INSPECTION_TYPE','JOB_PROGRESS','ZIP_CODE','BOROUGH']
df[lst2] = df[lst2].astype(object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250756 entries, 0 to 250755
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   INSPECTION_TYPE  250756 non-null  object
 1   JOB_PROGRESS     250756 non-null  object
 2   ZIP_CODE         248247 non-null  object
 3   LATITUDE         244344 non-null  float64
 4   LONGITUDE        244344 non-null  float64
 5   BOROUGH          250604 non-null  object
 6   date             250756 non-null  object
 7   year             250756 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 15.3+ MB

In [14]:
df.to_csv('..\output\processed_data2.csv')